@import "https://fonts.googleapis.com/css?family=Poppins";
* {
  
  font-family: "Poppins", sans-serif;
}
*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

#profile
{
    display:flex;
    justify-content: center;
}
#navbar {
	position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 10px 50px;
    height:80px;
    background: #dfe3eb;
    box-shadow: 0 10px 5px #cfd8e8;
}
#lists {
    
    display:flex;
    align-items: center;
    justify-content: center;
}
#lists li {
    list-style: none;
    padding:0px 10px;
}
#lists li a {
    text-decoration: none;
    color:#79869c;
}
#lists li a:hover {
    color:#1b2a42;
}
#left {
    display:flex;
    justify-content: space-evenly;
}
.profile {
    background-image: url(img/mainback.png);
    background-size:cover;
}
#image img {
    border-radius:5px;
}
#info {
    padding:50px 50px;
    padding-bottom: 10px
}
#info2 {
    padding:60px 50px 0;
}
.social-media {
    padding:5px;
    display:flex;
}
.icons{
  padding:15px;  
}
.header {
    font-size: 40px;
    padding: 0px 0px;
    text-align: center;
    background-color: #ccd6e6;
}

#education .header {
    font-size: 40px;
    text-align: center;
}
#pro1 {
    border:2px solid lightgrey;
    width:35%;
    margin:20px;
    border-radius:15px;
    
    
    
}
#pro1 img {
    width:100%;
    height:300px;
    border-radius:15px;
}
#description p {
    font-size: 15px;
    padding: 0 10px;
}
.stack-imgs {
    display:flex;
    justify-content:space-evenly;
}
.profile {
    padding: 50px;
}
#image {
    padding-top:70px;
    padding-left:100px;
}
#info .aboutme {
    color:grey;
    padding:1px 0px;
}
#info h1 {
    color:black;
}
#projects .header{
    font-size: 40px;
    padding:5px 10px;
    
}
#foot {
    margin-top:10px;
    margin-bottom: 10px;
    background-color: #e4e6eb;
    padding:20px 20px;
}
#foot p {
    text-align: center;
    color:
}
#tech-stack {
    padding:0px 0px;
}
#tech-stack .stack-imgs {
    padding:20px;
}

#education {
    padding:10px 0px;
    background-image:url(img/backedu.png);
    background-size:cover;
}
#education .edu {
    padding:20px;
    border:3px solid lightgrey;
    width:35%;
    border-radius: 40px;
    margin:30px;
}
.school {
    color:#1b4205;
    font-style: bold;
    
}
.date {
    color:darkslategrey;
}
.highlight {
    margin-right:240px;
    background-color: burlywood;
}
